body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.business-header {
	height: 400px;
	background: url(../images/onARollLogoBlack.png) center center no-repeat;
	background-size: 400px;
	background-color: black;
}
footer {
	margin: 50px;
}
#gameSectionPicture{
	margin: auto;
}
.container .noMarginTop {
	margin-top: 0;
}
#descriptions {
	text-align: center;
}
#descriptions > * {
	display: inline-block;
	cursor: pointer;
}
#descriptions > *:hover {
	background: #333;
	color: #aaa;
	border-radius: 4px;
}
.mainBody > * {
	display: none;
}
.show {
	display: block;
}
.row {
	margin: 0;
}