body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
	font-size: 16px;
	position: relative;
	min-height: 100%;
	padding-bottom: 42px; /* 7px more than footer b/c of <hr>*/
}
ul.nav {
	font-size: 14px;
}
strong {
	font-size: 17px;
}
.business-header {
	height: 400px;
	background: url("../images/onARollLogo_new_black.jpg") center center no-repeat;
	background-size: 400px;
	background-color: rgb(32,32,32);
	margin: -20px -20px 0;
	cursor: pointer;
}
.business-header.bjbe {
	background-image: url("../images/BJBE_logo.png");
	background-color: white;
	background-size: 350px;
}
.business-header.scw {
	background-image: url("../images/2ndChanceLogo.png");
	background-color: white;
}
.business-header.hht {
	background-image: url("../images/happyhourtower_logo.png");
	background-color: white;
}
footer {
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 100%;
	margin-left: 5px;
}
hr {
	position: absolute;
	width: 99%;
	bottom: 27px;
}
#ruleSectionPicture{
	margin: auto;
}
.container .noMarginTop {
	margin-top: 0;
}
.container p {
	font-size: 16px;
}
#descriptions {
	text-align: center;
}
#descriptions > * {
	display: inline-block;
	cursor: pointer;
}
#descriptions > *:hover {
	background: #333;
	color: #aaa;
	border-radius: 4px;
}
#descriptions > *:hover h2 {
	color: #eee;
}
.mainBody > * {
	display: none;
	padding: 20px;
}
.show {
	display: block;
}
.row {
	margin: 0;
}
.col-lg-12 > p {
	margin: 0;
}
.onaroll {
	font-size: 18px;
	font-weight: 400;
	color: crimson;
}
.onarollHeader {
	color: crimson;
}
#mainSlogan {
	font-size: 34px;
	text-align: center;
}
.nil {
	color: rgb(186, 2, 2);
	font-weight: 500;
}
.nothing {
	color: mediumvioletred;
	font-weight: 500;
}
.zilch {
	color: rgb(93, 0, 128);
	font-weight: 500;
}
.table td:first-child {
	width: 75%;
}
.table td {
	white-space: normal !important;
}
.note {
	font-size: 14px;
	font-style: italic;
}
.selfieContainer img {
	float: left;
	margin: 10px 20px 0 0;
	width: 250px;
}
#contactSection img {
	width: 180px;
}
#layoutImg img {
	float: right;
	width: 55%;
	margin: 25px 0 10px 25px;
}
#skywardSection {
	height: 290px;
	background-image: url(../images/skywardLogo_2.png);
	background-repeat: no-repeat;
	background-size: 240px;
	background-position: 0px 42px;
}
#playSection p {
	margin: 0 0 20px;
}
#playSection img {
	width: 60%;
	margin: 0 auto;
	max-width: 210px;
	display: block;
}
#contactSection .contactSelfieContainer {
	display: inline-block;
	margin: 0 10px 15px 0;
}
#contactSection address {
	display: inline-block;
}
.patent {
	color: #999;
	font-size: 9px;
	margin-left: 5px;
}
.subHeading {
	font-size: 18px;
	font-weight: 500;
	display: block;
	margin-bottom: 5px;
}
nav a{
	cursor: pointer;
}
#howToPlaySection iframe {
	display: block;
	margin: 20px auto;
}

.navbar .navbar-header {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.goHome {
	background: url('../images/skywardLogo_2.png') center center no-repeat;
	background-size: 100%;
	height: 40px;
	margin-right: 15px;
	width: 40px;
}
.table-bordered {
	margin: 40px auto;
	max-width: 50%;
}
ol {
	list-style-type: lower-roman;
}
