body {
  margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

.nav {
  font-size: 14px;
}

h2 {
  margin: 0;
}

strong {
  font-size: 17px;
}

footer {
  height: 35px;
  width: 100%;
  padding-left: 5px;
}

#ruleSectionPicture {
  margin: auto;
}

.container .noMarginTop {
  margin-top: 0;
}

.container p {
  font-size: 16px;
}

#descriptions {
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.happy-hour-tower-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
  margin: auto;
}

#descriptions > * {
  display: inline-block;
  cursor: pointer;
  padding: 15px;
}

#descriptions > *:hover {
  background: #333;
  color: #aaa;
  border-radius: 4px;
}
#descriptions > *:hover h2 {
  color: #eee;
}

.mainBody > div {
  display: none;
  padding: 20px;
}

.show {
  display: block;
}

.row {
  margin: 0;
}

.col-lg-12 > p {
  margin: 0;
}

.onaroll {
  font-size: 18px;
  font-weight: 400;
  color: crimson;
}

#mainSlogan {
  font-size: 44px;
  text-align: center;
}

.note {
  font-size: 14px;
  font-style: italic;
}

.selfieContainer img {
  float: left;
  margin: 10px 20px 0 0;
  width: 250px;
}

#contactSection img {
  width: 180px;
}
#layoutImg img {
  float: right;
  width: 55%;
  margin: 25px 0 10px 25px;
}

#contactSection .contactSelfieContainer {
  display: inline-block;
  margin: 0 10px 15px 0;
}

#contactSection address {
  display: inline-block;
}

.patent {
  color: #999;
  font-size: 9px;
  margin-left: 5px;
}

.subHeading {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

nav a {
  cursor: pointer;
}

.main_logo {
  background: url("../images/skywardLogo_2.png") center center no-repeat;
  background-color: rgb(32, 32, 32);
  background-size: 300px;
  height: 400px;
  margin: -20px -20px 0 -20px;
}

.gamesBox {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
#skywardSection {
  height: 290px;
  background-image: url(../images/skywardLogo_2.png);
  background-repeat: no-repeat;
  background-size: 240px;
  background-position: 0px 42px;
}

.gamesBox > div {
  height: 200px;
  width: 200px;
  cursor: pointer;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90%;
  margin: 20px;
}

#onaroll {
  background-image: url("../images/onARollLogo_new.png");
  background-size: 100%;
}

#blackjackbullseye {
  background-image: url("../images/BJBE_logo.png");
}

#secondchancewar {
  background-image: url("../images/2ndChanceLogo.png");
}

#happyhourtower {
  background-image: url("../images/happyhourtower_logo.png");
}

.dice-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.dice-container > * {
  width: 100px;
}

.game-image {
  float: right;
  width: 30%;
  margin-left: 20px;
}
